# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/src/generated/resources/.cache/60fe8ddd97332ee58947b92c5f01d6ab5c7d81b1
/src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
/.github/
