# makes public gallopSoundCounter
public net.minecraft.world.entity.animal.horse.AbstractHorse gallopSoundCounter

# Classes
public net.minecraft.client.resources.model.ModelManager$ReloadState

# Fields
public net.minecraft.client.renderer.texture.SpriteContents originalImage
public net.minecraft.world.entity.Mob goalSelector
public net.minecraft.world.entity.Mob targetSelector

# Methods
public net.minecraft.client.renderer.entity.layers.HumanoidArmorLayer usesInnerModel(Lnet/minecraft/world/entity/EquipmentSlot;)Z
public net.minecraft.world.entity.Entity positionRider(Lnet/minecraft/world/entity/Entity;)V